/*-----------------------------------FOOTER---------------------------------------------------------------*/

.navbar-fixed-bottom {
  height: 40px;
  background-color: $footerBg;
  color: $textPr;
  text-align:center;
  p{
  line-height: 40px;
  }
}
