/*--------------------------------------GALLERY-----------------------------------------------------*/

.masonry-layout {
	backgroud-color: $bgColor;
	column-count: 3;
	@media only screen and (max-width: 768px) {
	column-count: 2;
	}
	@media only screen and (max-width: 320px) {
	column-count: 1;
	}
	.gallery-click{
		position: relative;
		display: inline-block;
 		 width:100%;
 		 height:100%;
 		
  		z-index: 3;
	}
	.layout-panel {
		 padding: 10px;
	 	break-inside: avoid;
	 	border-radius: 5px;
	 	overflow: hidden;
	 	color: $textPr;
	 	@include linkState($textPr,  $textAcc);
		.panel-content {
			padding: 3%;
			text-align: justify;
			border: 1px  solid $textPr;
		 .panel-title{
		 	font-size: 1.5em;
		 	
		 }
		  .post-image {
				width: 100%;
				height: auto;
		  }
		}
	}
}
