/*--------------------------------------HOME-LOGIN-----------------------------------------------------*/

#home-login {

	margin: 0 auto;
	width: 33%;
	height: 300px;
	
	color: #372F30;
	
	div {
		background-color: #FF3300;
		padding-top: 100px;  
		position: fixed;
		width: 33%;
		height: 300px;
		text-align: center;
		border: 1px solid red;
	}

}