@mixin linkState($unactiveColor, $activeColor) { 
	a:link    { color: $unactiveColor; text-decoration: none; }
 	a:visited { color: $unactiveColor; text-decoration: none; }
 	a:hover   { color: $activeColor; text-decoration: none; }
 	a:active  { color: $activeColor; text-decoration: none; }
}


%links {
		
			line-height: 60px;
			letter-spacing: 2px;
	}
	%hover {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(2);
		transform:  scale(2);
	}
