/*-------------------------------------NAVBAR------------------------------------------------>*/

.navbar {
	background-color: $navbarBg;
	width: 100%;
	text-align: center;
	
	ul {
	
	text-align: center;
		@include linkState($textPr,  $textAcc);
		li{
		display: inline;
		margin: 20px;
		@extend %links;
			@media screen and (max-width: 640px) {
			margin: 0;
			display:block;
				
			}
		}
	}
}