.upload-container {
	width: 100%;
	background-color: $footerBg;
	.form-upload {
	width: 80%;
	margin: auto;
		#upload-title {
		width: 100%;
		}
		#upload-image{ 
		margin: auto;
		}
		#upload-desc {
		width: 100%;
		}
		.btn{
		
		}
	}
}