$half: 50%;
$quater: 25%;

$marginS: 2%;
$marginM: 5%;
$marginL: 10%; 

$fontSizeL: 1.3em;

$unactiveColor: #000000;
$activeColor: #7EC1B0;
$backgroundColor: #ffffff;

$black: #0b0706;
$darkBlue: #3a3635;
$lightBlue: #f9eddf;
$lightGrey: #625a57;
$darkGrey: #766151;
$panelBackground: #CFC8A1;

$navbarBg: #3a3635;
$navbarAcc:  #f9eddf;
$footerBg: #625a57;

$bgColor: #766151;
$textPr: #CFC8A1;
$textAcc: #1a1a1a;
