$half: 50%;
$quater: 25%;

$marginS: 2%;
$marginM: 5%;
$marginL: 10%; 

$fontSizeL: 1.3em;

$unactiveColor: #000000;
$activeColor: #7EC1B0;
$backgroundColor: #ffffff;

$black: #0b0706;
$darkBlue: #3a3635;
$lightBlue: #f9eddf;
$lightGrey: #625a57;
$darkGrey: #766151;
$panelBackground: #CFC8A1;

$navbarBg: #000000;
$navbarAcc:  #645657;
$footerBg: #645657;

$bgColor: #000000;
$textPr: #C93F1E;
$textAcc: #F0EEE9;
