<div class = "container containerImageView">
	<div class="row">
		<div class = "col-md-1"></div>
		<div class = "col-md-10 content-panel">
			<div class = "row">
				<div class = "col-md-8 overFlow-class" >
			    	<video Class = "videoView" ng-show="isVid" controls >
			    		<source ng-src="{{post.VideoPath}}" type="video/mp4">
			    	</video> 
			    	<img class = "imageView" ng-show="isExt" ng-src="{{post.ImagePath}}">
				</div>
				<div class = "col-md-4">
					<div class = "descImageView">
						<h2 class = "titleImage">Title: {{post.Title}}</h2>
						<p>Description:
							<p class = "descImage">{{post.Description}}</p>
						</p>
						<p>Author: {{ post.UserName }} </p>
						<span class = "rating"uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="calculateRating(isReadonly)" titles="['1','2','3']" aria-labelledby="default-rating"></span>
						<span>{{ rating }}</span>
						<span class="glyphicon glyphicon-heart-empty" read-only="isReadonlyLike" ng-click = "updateLikes(isReadonlyLike)">{{ likes}}</span>
					</div>
			 	 </div>
			</div>
		</div>
		<div class = "col-md-1"> </div>
	</div>
</div>
<!-- glyphicon glyphicon-plus -->