.order ul li:hover, .upload-container .form-upload #upload-label:hover, .upload-container .form-upload #submit:hover, .containerImageView .content-panel .row .descImageView .titleImage:hover, .containerImageView .content-panel .row .descImageView .descImage:hover, .footer #foot-link:hover, .profile .row .info-wrapper div #upload-link:hover {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

/*-------------------------------------NAVBAR------------------------------------------------>*/
@font-face {
  font-family: 'myFirstFont';
  src: url("../GalileoFLF-Bold.ttf"); }
@font-face {
  font-family: 'mySecondFont';
  src: url("../Walkway.ttf"); }
.navbar {
  background-color: #000000;
  width: 100%;
  text-align: center;
  font-family: 'myFirstFont', serif; }
  .navbar .brand {
    font-family: 'myFirstFont', serif;
    font-size: 60px;
    line-height: 90px; }
  .navbar .brand:hover {
    text-decoration: none; }
  .navbar button {
    opacity: 0.5;
    margin: 20px; }
  .navbar .collapse ul {
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 2em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    .navbar .collapse ul a:link {
      color: white;
      text-decoration: none; }
    .navbar .collapse ul a:visited {
      color: white;
      text-decoration: none; }
    .navbar .collapse ul a:hover {
      color: red;
      text-decoration: none; }
    .navbar .collapse ul a:active {
      color: red;
      text-decoration: none; }
    .navbar .collapse ul li {
      display: inline;
      margin: 20px; }
      @media screen and (max-device-width: 640px) {
        .navbar .collapse ul li {
          margin: 0;
          display: block; } }

.order ul {
  padding: 20px;
  margin: 0;
  background-color: white;
  text-align: center; }
  .order ul li {
    display: inline-block;
    margin: 0 2%;
    letter-spacing: 1px; }
    .order ul li a:link {
      color: black;
      text-decoration: none; }
    .order ul li a:visited {
      color: black;
      text-decoration: none; }
    .order ul li a:hover {
      color: red;
      text-decoration: none; }
    .order ul li a:active {
      color: red;
      text-decoration: none; }
    @media screen and (max-width: 640px) {
      .order ul li {
        margin: 2% 0;
        display: block; } }

.upload-container {
  background-image: url("../images/12.jpg");
  padding: 5em;
  width: 100%;
  background-color: #645657; }
  .upload-container .form-upload {
    width: 80%;
    margin: auto; }
    @media screen and (max-device-width: 640px) {
      .upload-container .form-upload {
        width: 80%; } }
    .upload-container .form-upload .label {
      font-size: 1em;
      letter-spacing: 1px; }
    .upload-container .form-upload #upload-title {
      width: 100%;
      padding: 1em;
      margin-bottom: 1.3em; }
    .upload-container .form-upload #upload-label, .upload-container .form-upload #submit {
      border: 1px solid #fff;
      color: white;
      padding: 1em;
      margin: 1em;
      font-size: 1.4em;
      text-align: center;
      display: inline-block;
      width: 30%;
      max-width: 80%;
      overflow: hidden; }
    .upload-container .form-upload #upload-label:hover, .upload-container .form-upload #submit:hover {
      color: red; }
    .upload-container .form-upload #upload-image {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden; }
    .upload-container .form-upload #upload-desc {
      padding: 1em;
      width: 100%; }
    .upload-container .form-upload #submit {
      background: transparent;
      float: right; }

.absolute-div {
  position: absolute;
  width: 40%;
  height: 200px;
  background-image: url(../images/12.jpg);
  border: 7px double white;
  top: 20%;
  left: 30%;
  text-align: center;
  color: white; }
  .absolute-div p {
    padding: 1.8em;
    font-size: 2em; }
  .absolute-div a {
    font-size: 1.5em;
    color: white;
    text-decoration: underline; }

/*--------------------------------------GALLERY-----------------------------------------------------*/
.animate-enter,
.animate-leave {
  -webkit-transition: 1625ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 1625ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 1625ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 1625ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 1625ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px; }

.min post-image {
  -webkit-transition: 1s translate(200, 0) linear;
  -moz-transition: 1s translate(200, 0) linear;
  -ms-transition: 1s translate(200, 0) linear;
  -o-transition: 1s translate(200, 0) linear;
  transition: 1s translate(200, 0) linear;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.min panel-content {
  background-color: red; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes swim {
  from {
    top: -10px; }
  to {
    top: 0px; } }
@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/*-------------------------------------------ImageView-----------------------------------------------------------*/
.containerImageView {
  background-image: url("../images/12.jpg");
  height: 100%;
  padding: 30px; }
  .containerImageView .content-panel {
    display: block;
    border: 1px solid #C93F1E;
    padding: 20px; }
    .containerImageView .content-panel .row {
      width: 100%;
      height: 100%; }
      .containerImageView .content-panel .row .imageView {
        display: block;
        margin: auto;
        width: 100%;
        height: auto; }
      .containerImageView .content-panel .row .videoView {
        display: block;
        margin: auto;
        width: 100%;
        height: auto; }
      .containerImageView .content-panel .row .overFlow-class {
        overflow: hidden; }
        .containerImageView .content-panel .row .overFlow-class img {
          display: block; }
      .containerImageView .content-panel .row .descImageView {
        color: #C93F1E;
        width: 100%;
        text-align: center; }
        .containerImageView .content-panel .row .descImageView .titleImage {
          padding: 30px;
          font-size: 2em; }
        .containerImageView .content-panel .row .descImageView .descImage {
          padding: 30px; }
  .containerImageView .imageView:hover {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

/*-----------------------------------FOOTER---------------------------------------------------------------*/
.footer {
  opacity: 1;
  height: 40px;
  background-color: #645657;
  color: #C93F1E;
  text-align: center;
  background-image: url("../images/12.jpg"); }
  .footer #foot-link {
    font-size: 1.3em;
    padding: 1%;
    line-height: 40px; }
  .footer #foot-link:link {
    color: white;
    text-decoration: none; }
  .footer #foot-link:visited {
    color: white;
    text-decoration: none; }
  .footer #foot-link:hover {
    color: red;
    text-decoration: none; }
  .footer #foot-link:active {
    color: red;
    text-decoration: none; }

---------------------------------------RESET---------------------------------------------------- >
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.profile {
  font-family: 'myFirstFont', serif;
  width: 100%;
  color: white; }
  .profile .row {
    background-image: url("../images/12.jpg"); }
    .profile .row .info-wrapper {
      min-height: 250px;
      text-align: center; }
      .profile .row .info-wrapper div {
        text-indent: 200px; }
        .profile .row .info-wrapper div #prof-name {
          font-family: 'myFirstFont', serif;
          font-size: 2.5em; }
        .profile .row .info-wrapper div #prof-email {
          padding: 1em;
          font-size: 1.3em;
          font-family: 'myFirstFont', serif; }
        .profile .row .info-wrapper div #upload-link {
          font-size: 1.3em;
          padding: 1%;
          line-height: 40px;
          font-size: 2em;
          border: 1px solid white; }
        .profile .row .info-wrapper div #upload-link:link {
          color: white;
          text-decoration: none; }
        .profile .row .info-wrapper div #upload-link:visited {
          color: white;
          text-decoration: none; }
        .profile .row .info-wrapper div #upload-link:hover {
          color: red;
          text-decoration: none; }
        .profile .row .info-wrapper div #upload-link:active {
          color: red;
          text-decoration: none; }
    .profile .row .img-wrapper {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border: 2px solid white;
      padding-left: 0px; }
      .profile .row .img-wrapper img {
        width: auto;
        height: 200px; }
      .profile .row .img-wrapper img:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
  .profile .big-info {
    padding-top: 5%; }
  .profile .hed2 {
    font-size: 2.5em; }
    .profile .hed2 > h2 {
      font-size: 2.8em;
      padding-top: 0.1em;
      padding-bottom: 10px; }

/*--------------------------------------HOME-LOGIN-----------------------------------------------------*/
.background {
  /*width: 100%;
  height: 70vh;
  overflow: hidden;
  margin: 0 auto;*/
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-size: 3em;
  font-style: bold; }
  .background #video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto; }
    @media all and (max-width: 700px) {
      .background #video {
        width: auto;
        height: 100%; } }
    @media all and (max-width: 400px) {
      .background #video {
        width: auto;
        height: 100%; } }
  .background #home-login {
    width: 35%;
    display: block;
    margin-left: 30%;
    position: fixed;
    top: 50%;
    background-color: rgba(60, 56, 60, 0.5);
    text-align: center; }
    .background #home-login #loginOrText {
      height: 100px;
      font-size: 2em; }
      @media all and (max-width: 700px) {
        .background #home-login #loginOrText {
          font-size: 1.3em; } }
      @media all and (max-width: 400px) {
        .background #home-login #loginOrText {
          font-size: 0.8em; } }
      .background #home-login #loginOrText p a {
        font-family: 'myFirstFont', serif;
        color: #000000; }

body {
  width: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: #000000;
  height: 100%;
  padding-bottom: 40px; }
  body .slide {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  body .slide.ng-enter,
  body .slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  body .slide.ng-enter {
    left: 100%; }
  body .slide.ng-enter-active {
    left: 0; }
  body .slide.ng-leave {
    left: 0; }
  body .slide.ng-leave-active {
    left: -100%; }
  body .rating:hover {
    text-decoration: none; }

/*# sourceMappingURL=index.css.map */
